<div id="<%= dom_id(message) %>">
    <div class="d-flex flex-row justify-content-start mx-2 mb-1">
        <div class="d-flex flex-column">
            <div class="d-flex flex-row">
                <small>
                    <%= message.user.email %>
                </small>
            </div>
            <div class="d-flex flex-row">
                <div class="d-flex flex-column bg-info rounded pl-3 pr-4 pt-2 pb-1">
                    <%= message.content %>
                    <small style="margin-top: -7px;"><small>
                        <%= message.created_at.strftime('%b, %d - %l:%M%P') %>
                    </small></small>
                </div>
            </div>
        </div>
    </div>
</div>