<div id="<%= dom_id(message) %>">
    <div class="d-flex flex-row justify-content-start mx-1 mb-2">
        <div class="d-flex flex-column">
            <div class="d-flex flex-row" style="margin-bottom: -1px;">
                <small>
                    <%= message.user.email %>&nbsp;-&nbsp;
                </small>
                <small><small>
                    <%= message.created_at.strftime('%b, %d - %l:%M%P') %>
                </small></small>
            </div>
            <div class="d-flex flex-row">
                <div class="d-flex flex-column bg-info text-center rounded" style="padding-right: 5px; padding-left: 5px; padding-bottom: 2px; padding-top: 1px;">
                    <%= message.content %>
                </div>
            </div>
        </div>
    </div>
</div>