<div class="d-flex flex-row justify-content-center" style="height: 95vh;">
    <div class="d-flex flex-column justify-content-center">
        <%= image_tag 'illustrated-face.png' %>
    </div>
</div>